# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Test2D.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\Test2D\.idea\.idea.Test2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
